
<div class="container">
  <div class="row">

    <table class="table table-hover table-striped text-center table-light ">
      <thead class="bg-primary text-white text-uppercase">
      <tr>
        <th>Variable Name</th>
        <th>Value</th>
        <th>Variable</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>interviewer1</td>
        <td>Demo</td>
        <td>int1Feedback</td>
        <td>best</td>
      </tr>
      <tr>
        <td>Candidate Name</td>
        <td>Bindu</td>
        <td>Interviewer 2</td>
        <td>Demo</td>
      </tr>
      </tbody>
    </table>


  </div>
</div>
