<section >
  <div class="container">
    <div class="row">
      <div class=" animated jackInTheBox ">
        <table class="table table-hover table-striped text-center table-light ">
          <thead class="bg-primary text-white text-uppercase">
          <tr>
            <th>CaseId</th>
            <th>Task Name</th>
            <th>Priority</th>
            <th>Asignee</th>
            <th>Start Date</th>
            <th>Out Date</th>
            <th>Followup Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
